.circleci/
.git/
coverage/
dist/
node_modules/
tmp/
*/*/*.test.ts

.dockerignore
.editorconfig
.env
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
CHANGELOG.md
commitlint.config.js
heroku.yml
jest.config.js
LICENSE
npm-debug.log
README.md
webpack.development.js
